.countdown {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 375px;
  margin: 20px auto;
}

.countdown h2 {
  font-size: 40px;
  color: #810000;
  margin-bottom: 10px;
}

.timeBox {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.timeBox span {
  border: 2px solid rgba(194, 165, 0, 0.725);
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .countdown {
    max-width: 768px;
  }
  .timeBox span {
    padding: 20px;
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  .countdown {
    max-width: 1440px;
  }
  .timeBox span {
    padding: 30px;
    font-size: 36px;
  }
}
