.hero {
}
.titleText {
  background-image: url("/img/hero_beckground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 100px;
}
.title {
  padding: 100px 0;
  font-family: "Lobster", sans-serif;
  font-size: 72px;
  color: #810000;
  margin: 0;
}
.invitationOne {
  font-family: "Great Vibes", cursive;
  font-size: 42px;
  color: #810000;

  margin: 0;
}
.titleNiceWords {
  padding: 50px 0;
}

/* .container {
  display: flex;
  text-align: center;
}
/* .container::before {
  content: "";
  position: absolute;
  left: 345px;
  top: 160px;
  width: 2px;
  height: 600px;
  background-color: rgb(255, 255, 255);
} */
/* .img {
  width: 300px;
  height: 450px;
} */
