.container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  background-color: #810000;
}
.img {
  width: calc(100% / 4 - 10px);
  transition: transform 0.3s ease;
  border-radius: 10px;
  /* height: 375px; */
}

.img:hover {
  transform: scale(1.1);
}
